#matplotlib==2.1.0
#pandas==0.20.3
PTable==0.9.2
pyspellchecker==0.3.0
revtok==0.0.3
#scikit-image==0.13.0
#scikit-learn==0.19.1
#scipy==1.2.1
#seaborn==0.9
skorch==0.5.0.post0
#spacy==1.9.0
statsmodels==0.8.0
stop-words==2018.7.23
tensorboard==1.12.0
tensorboardX==1.5
tensorflow==2.5.1
tensorflow-gpu==1.12.0
tensorflow-tensorboard==0.4.0rc3
termcolor==1.1.0
#torch==1.0.0
torchtext==0.3.1
#torchvision==0.2.0
#tqdm==4.28.1
typing==3.6.2
XlsxWriter==1.0.2
hyperopt==0.1.2
colorama==0.3.9
